.add-goods-step {
  padding-bottom: 25px;
  span {
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
    background: #e5e5e5;
    border: 1px solid #e5e5e5;
  }
  span.add-goods-active {
    color: #73879C;
    background: #fff;
    border-bottom: none;
  }
}

.categories{
  .add-goods-categories {
    border: 1px solid #ccc;
    display: inline-block;
    //height: 500px;
    width: 49%;
    .form-group{
      margin-bottom: 0;
    }
    .category-list{
      height: 500px;
      overflow: scroll;
      ul{
        padding-left: 0;
        li.active{
          background: #169F85;
          color:#fff;
        }
      }
      ul > li{
        list-style: none;
        padding:5px 0 5px 10px;
      }
    }
    //#add-goods-category-2 ul li{
    //  display: none;
    //}
  }
}

.add-goods-footer {
  padding: 20px;
  margin-top: 40px;
  background: #f8f8f8;
  .currentCategory{
    min-width: 200px;
  }
}

.add-goods-search {
  input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .btn {
    margin-right: -1px;
    border-radius: 0;
  }
}

.step, .stock-container, .sku-container {
  display: none;
}

.active-step.step {
  display: block;
}

.goods-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  .add-goods-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #f8f8f8;
    border-right: 2px solid #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
  .add-goods-inner {
    padding: 28px 10px 20px
  }
  .add-goods-content {
    flex: 7;
    background: #f8f8f8;
  }
  .sku-wrapper {
    border: 1px solid #dedede;
    padding: 10px;
    background: #fff;
    display: inline-block;
    min-width: 620px;
    max-width: 620px;
    .sku-group {
      .sku-group-title {
        position: relative;
        padding: 5px 10px;
        background: #f8f8f8;
      }
      .sku-group-cont {
        padding: 10px;
      }
    }
    .props {
      border: 1px solid #dbdbdb;
      padding: 6px 10px;
      margin-right: 10px;
      position: relative;
    }
    .props-close {
      display: none;
      position: absolute;
      right: -10px;
      top: -9px;
      border: 1px solid #f86161;
      border-radius: 50%;
      padding: 1px 3px;
      background: #fff;
      cursor: pointer;
      color: #f86161
    }
    .selectize-close {
      display: none;
      position: absolute;
      right: 5px;
      top: 14px;
      border: 1px solid #f86161;
      border-radius: 50%;
      padding: 2px 4px;
      background: #fff;
      cursor: pointer;
      color: #f86161
    }
  }
  .selectize-wrapper {
    width: 150px;
  }
  .sku-gallery {
    dl.dl-active {
      display: inline-block;
    }
    dl {
      display: none;
      margin-right: 8px;
      .fa {
        position: absolute;
        left: 25px;
        top: 25px;
      }
      dt {
        width: 64px;
        height: 64px;
        border: 2px solid #73879c;
        //background: url(../images/icon_add.png) no-repeat center #fff;
        cursor: pointer;
        position: relative;
      }
      dd {
        text-align: center;
      }
    }
  }
  #main-gallery {
    display: inline-block;
    .fa {
      position: absolute;
      left: 35px;
      top: 35px;
    }
    ul {
      padding-left: 0;
      li {
        float: left;
        width: 84px;
        height: 84px;
        border: 2px solid #73879c;
        margin: 0 10px 10px 0;
        //background: url(../images/icon_add.png) no-repeat center #fff;
        cursor: pointer;
        position: relative;
        list-style: none;
        .image{
          width: 100%;
          max-height: 80px;
        }
      }
    }
  }
}

.goods-content-footer {
  padding: 20px;
  text-align: center;
  background: #f8f8f8;
}