.add-goods-step {
  padding-bottom: 25px;
  span {
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
    background: #e5e5e5;
    border: 1px solid #e5e5e5;
  }
  span.add-goods-active {
    color: #73879C;
    background: #fff;
    border-bottom: none;
  }
}

.add-goods-categories {
  border: 1px solid #ccc;
  display: inline-block;
  height: 500px;
  width: 49%;
}

.add-goods-footer {
  padding: 20px;
  margin-top: 40px;
  background: #f8f8f8;
}

.add-goods-search {
  input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
  }
  .btn {
    margin-right: -1px;
    border-radius: 0;
  }
}

.step,.stock-container,.sku-container {
  display: none;
}
.active-step.step{
  display: block;
}

.goods-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  .add-goods-title {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #f8f8f8;
    border-right: 2px solid #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
  }
  .add-goods-inner {
    padding: 28px 10px 20px
  }
  .add-goods-content {
    flex: 7;
    background: #f8f8f8;
  }
  .sku-wrapper{
    border: 1px solid #dedede;
    padding: 10px;
    background: #fff;
    display: inline-block;
    min-width: 620px;
    max-width: 620px;
    .sku-group{
      .sku-group-title{
        position: relative;
        padding: 5px 10px;
        background: #f8f8f8;
      }
      .sku-group-cont{
        padding: 10px;
      }
    }
    .props{
      border: 1px solid #dbdbdb;
      padding: 6px;
      margin-right: 10px;
    }
  }
  .selectize-wrapper{
    width: 150px;
  }
  .sku-gallery{
    width: 62px;
    height: 62px;
    border: 1px solid #dedede;
    //background: url(../images/icon_add.png) no-repeat center #fff;
    cursor: pointer;
    position: relative;
  }
  #main-gallery{
    display: inline-block;
    ul{
      padding-left: 0;
      li{
        float: left;
        width: 62px;
        height: 62px;
        border: 1px solid #dedede;
        margin: 0 10px 10px 0;
        //background: url(../images/icon_add.png) no-repeat center #fff;
        cursor: pointer;
        position: relative;
        list-style: none;
      }
    }
  }
}
.goods-content-footer{
  padding:20px;
  text-align: center;
  background: #f8f8f8;
}