.add-goods-step {
  padding-bottom: 25px;
}
.add-goods-step span {
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  background: #e5e5e5;
  border: 1px solid #e5e5e5;
}
.add-goods-step span.add-goods-active {
  color: #73879C;
  background: #fff;
  border-bottom: none;
}
