@charset "UTF-8";
.tpl-set a {
  cursor: pointer; }

.alert {
  display: inline-block;
  margin: 10px 0 0 17px;
  padding: 3px 10px;
  color: #FFF;
  border-radius: 3px 4px 4px 3px;
  background-color: #CE5454;
  max-width: 170px;
  white-space: pre;
  position: relative;
  left: -15px;
  z-index: 1;
  transition: 0.15s ease-out; }

.alert::after {
  content: '';
  display: block;
  height: 0;
  width: 0;
  border-color: transparent #CE5454 transparent transparent;
  border-style: solid;
  border-width: 11px 7px;
  position: absolute;
  left: -13px;
  top: 1px; }

.J_carriage_tpl {
  margin-bottom: 50px; }

.J_carriage_tpl .carriage-title {
  overflow: hidden;
  border-top: 1px solid #ccc;
  margin-top: 20px; }

.J_carriage_tpl .carriage-title a,
.J_carriage_tpl .carriage-title span {
  display: inline-block;
  padding: 0 10px;
  margin: 10px 0; }

.J_carriage_tpl thead tr th,
.J_carriage_tpl tbody tr td {
  text-align: center; }

.J_carriage_tpl thead tr th:nth-child(1),
.J_carriage_tpl tbody tr td:nth-child(1) {
  width: 320px; }

.button-group {
  position: absolute;
  left: 230px;
  margin-top: 50px;
  right: 20px;
  background: #f8f8f8;
  text-align: center;
  bottom: 50px; }

/********************* 运费模板样式开始 ********************/
.tpl-content {
  padding: 20px; }

.tpl-content .tpl-title {
  margin-bottom: 20px; }

.tpl-content .tpl-name input {
  border-radius: 0;
  width: 400px; }

.tpl-content .tpl-set .ui-table {
  margin-bottom: 5px; }

.tpl-content .tpl-set .default-shipping {
  margin: 10px 0;
  background: #F6FCF3;
  width: 100%;
  padding: 10px 0 10px 10px; }

.tpl-content .tpl-set .form-control {
  border-radius: 0;
  width: 100px;
  height: 20px;
  padding: 6px !important; }

.tpl-content .tpl-set {
  margin-left: 63px;
  padding: 5px;
  border: 1px solid #d9d9d9; }

.tpl-content .tpl-set .ui-table thead tr th,
.modal .tpl-set .ui-table tbody tr td {
  text-align: center;
  margin: 0 auto; }

.tpl-content .tpl-set .ui-table thead tr th:first-child {
  width: 300px; }

.tpl-content .tpl-set .ui-table .border-r {
  border-right: 1px solid #d9d9d9; }

.tpl-content .tpl-set .ui-table .left {
  float: left;
  height: 16px; }

.tpl-content .tpl-set .ui-table .right {
  float: right;
  height: 16px; }

.tpl-content .tpl-set .ui-table .checkItem {
  display: none;
  margin: 0 5px;
  vertical-align: super; }

.tpl-content .tpl-set .the-batch {
  display: none; }

.tpl-content .tpl-footer {
  text-align: center; }

.J_tpl_list .left em div {
  display: inline-block; }

.J_tpl_list .left em {
  display: inline-block;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -o-text-overflow: ellipsis; }

.ui-table th, .ui-table td {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  vertical-align: middle; }

.ui-table {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  text-align: left; }

.batch-ope {
  margin-left: 20px; }

/********************* 运费模板样式结束********************/
/**************** 批量设置弹出框样式 ********************/
/******************配送地区选择弹出框样式****************/
#main-tpl {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  display: none; }

.j-dialog-shadow span {
  margin: 0 5px; }

.j-dialog-shadow .left {
  display: inline-block;
  margin: 8px;
  vertical-align: top;
  width: 10%; }

.j-dialog-shadow .right {
  display: inline-block;
  width: 80%; }

.j-dialog-shadow .choose-area .right .area-item {
  display: inline-block;
  position: relative;
  padding: 8px; }

.j-dialog-shadow .add-class {
  background: #CBF1FF; }

.j-dialog-shadow .cities {
  position: absolute;
  z-index: 100000;
  left: 0;
  width: 380px;
  display: none;
  background: #ffffff;
  border: 1px solid #cdcdcd; }

.j-dialog-shadow .cities span[data-name] {
  display: inline-block;
  width: 75px; }

.j-dialog-shadow .city {
  text-align: center;
  padding: 5px;
  display: inline-block; }

.J_close {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: #fff;
  border: 1px solid #cdcdcd; }

.batchSetup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000; }

.close1 {
  float: right;
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  -webkit-appearance: none;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0; }

.btn-default1 {
  color: #333;
  background-color: #fff;
  border-color: #ccc; }
