.add-goods-step {
  padding-bottom: 25px; }
  .add-goods-step span {
    display: inline-block;
    padding: 10px 25px;
    text-align: center;
    background: #e5e5e5;
    border: 1px solid #e5e5e5; }
  .add-goods-step span.add-goods-active {
    color: #73879C;
    background: #fff;
    border-bottom: none; }

.categories .add-goods-categories {
  border: 1px solid #ccc;
  display: inline-block;
  width: 49%; }
  .categories .add-goods-categories .form-group {
    margin-bottom: 0; }
  .categories .add-goods-categories .category-list {
    height: 500px;
    overflow: scroll; }
    .categories .add-goods-categories .category-list ul {
      padding-left: 0; }
      .categories .add-goods-categories .category-list ul li.active {
        background: #169F85;
        color: #fff; }
    .categories .add-goods-categories .category-list ul > li {
      list-style: none;
      padding: 5px 0 5px 10px; }

.add-goods-footer {
  padding: 20px;
  margin-top: 40px;
  background: #f8f8f8; }
  .add-goods-footer .currentCategory {
    min-width: 200px; }

.add-goods-search input {
  border-top: 0;
  border-left: 0;
  border-right: 0; }
.add-goods-search .btn {
  margin-right: -1px;
  border-radius: 0; }

.step, .stock-container, .sku-container {
  display: none; }

.active-step.step {
  display: block; }

.goods-content {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px; }
  .goods-content .add-goods-title {
    -ms-flex: 1;
    flex: 1;
    background-color: #f8f8f8;
    border-right: 2px solid #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold; }
  .goods-content .add-goods-inner {
    padding: 28px 10px 20px; }
  .goods-content .add-goods-content {
    -ms-flex: 7;
        flex: 7;
    background: #f8f8f8; }
  .goods-content .sku-wrapper {
    border: 1px solid #dedede;
    padding: 10px;
    background: #fff;
    display: inline-block;
    min-width: 620px;
    max-width: 620px; }
    .goods-content .sku-wrapper .sku-group .sku-group-title {
      position: relative;
      padding: 5px 10px;
      background: #f8f8f8; }
    .goods-content .sku-wrapper .sku-group .sku-group-cont {
      padding: 10px; }
    .goods-content .sku-wrapper .props {
      border: 1px solid #dbdbdb;
      padding: 6px 10px;
      margin-right: 10px;
      position: relative; }
    .goods-content .sku-wrapper .props-close {
      display: none;
      position: absolute;
      right: -10px;
      top: -9px;
      border: 1px solid #f86161;
      border-radius: 50%;
      padding: 1px 3px;
      background: #fff;
      cursor: pointer;
      color: #f86161; }
    .goods-content .sku-wrapper .selectize-close {
      display: none;
      position: absolute;
      right: 5px;
      top: 14px;
      border: 1px solid #f86161;
      border-radius: 50%;
      padding: 2px 4px;
      background: #fff;
      cursor: pointer;
      color: #f86161; }
  .goods-content .selectize-wrapper {
    width: 150px; }
  .goods-content .sku-gallery dl.dl-active {
    display: inline-block; }
  .goods-content .sku-gallery dl {
    display: none;
    margin-right: 8px; }
    .goods-content .sku-gallery dl .fa {
      position: absolute;
      left: 25px;
      top: 25px; }
    .goods-content .sku-gallery dl dt {
      width: 64px;
      height: 64px;
      border: 2px solid #73879c;
      cursor: pointer;
      position: relative; }
    .goods-content .sku-gallery dl dd {
      text-align: center; }
  .goods-content #main-gallery {
    display: inline-block; }
    .goods-content #main-gallery .fa {
      position: absolute;
      left: 35px;
      top: 35px; }
    .goods-content #main-gallery ul {
      padding-left: 0; }
      .goods-content #main-gallery ul li {
        float: left;
        width: 84px;
        height: 84px;
        border: 2px solid #73879c;
        margin: 0 10px 10px 0;
        cursor: pointer;
        position: relative;
        list-style: none; }
        .goods-content #main-gallery ul li .image {
          width: 100%;
          max-height: 80px; }

.goods-content-footer {
  padding: 20px;
  text-align: center;
  background: #f8f8f8; }
