#role {
  /* aelrt */ }
  #role .container {
    position: relative; }
  #role .form-group .form-control {
    margin-top: 5px; }
  #role .form-control {
    height: 40px;
    padding: 6px 12px;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    color: #555;
    background-color: #fff;
    width: 100%;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }
  #role .btn-search {
    margin-top: 5px;
    border-radius: 0; }
  #role .alert {
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 3px 10px;
    color: #FFF;
    border-radius: 3px 4px 4px 3px;
    background-color: #CE5454;
    max-width: 170px;
    white-space: pre;
    position: relative;
    left: -15px;
    z-index: 1;
    transition: 0.15s ease-out; }
  #role .alert::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
    border-color: transparent #CE5454 transparent transparent;
    border-style: solid;
    border-width: 11px 7px;
    position: absolute;
    left: -13px;
    top: 1px; }
  #role .button-group {
    position: absolute;
    left: 230px;
    margin-top: 50px;
    right: 20px;
    background: #f8f8f8;
    text-align: center;
    bottom: 50px; }
  #role .caret-bottom {
    color: red;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent; }
  #role .caret-right {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-left: 4px solid;
    border-bottom: 4px solid transparent;
    border-top: 4px solid transparent; }
