<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>添加账户</title>
    <!-- rev-hash -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- end -->

    <!-- rev-hash -->
    <link href="../style/css/add-account.css" rel="stylesheet" type="text/css">
    <!-- end -->
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        @@include('common/sidebar.html')
        @@include('common/header.html')
    </div>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="common-part p20 mt-25">
            <div class="form-inline j-no-super" style="">
                <div class="form-group field" >
                    <label><span class="ui-form-required">*</span>姓名：</label>
                    <input class="form-control" required="required" data-name="姓名" cb-node="name" type="text" maxlength="18" placeholder="请输入姓名"  pattern="decimal" name="姓名"> </div>
            </div>
            <div class="form-inline j-no-super" style="">
                <div class="form-group " >
                    <label><span class="ui-form-required">*</span>角色：</label>
                    <select class="form-control" cb-node="role_id">

                        <option data-id="296">
                            测试
                        </option>

                        <option data-id="299">
                            发货员
                        </option>

                        <option data-id="581">
                            直播测试
                        </option>

                    </select>
                </div>
            </div>
            <div class="form-inline j-super">
                <div class="form-group field" >
                    <label><span class="ui-form-required">*</span>账号：</label>
                    <input class="form-control" required="required" data-name="账号" cb-node="user_name" type="text" maxlength="18" placeholder="请输入账号" pattern="decimal" name="账号"> </div>
            </div>
            <div class="form-inline j-super">
                <div class="form-group field">
                    <label><span class="ui-form-required">*</span>初始密码：</label>
                    <input class="form-control" required="required" pattern="decimal" data-name="初始密码" cb-node="password" type="password" maxlength="20" placeholder="请输入6~20位密码" pattern="decimal" name="初始密码"> </div>
            </div>
            <div class="form-inline j-super">
                <div class="form-group field">
                    <label><span class="ui-form-required">*</span>部门：</label>
                    <input class="form-control" required="required" pattern="decimal" data-name="部门" cb-node="department" type="text" maxlength="18" placeholder="请输入部门" pattern="decimal" name="部门" > </div>
            </div>
            <div class="form-inline j-super">
                <div class="form-group field">
                    <label><span class="ui-form-required">*</span>职务：</label>
                    <input class="form-control" required="required" pattern="decimal" data-name="职务" cb-node="post" type="text" maxlength="18" placeholder="请输入职务" pattern="decimal" name="职务"> </div>
            </div>
            <div class="form-inline j-super">
                <div class="form-group field">
                    <label><span class="ui-form-required">*</span>电话：</label>
                    <input class="form-control" required="required" pattern="decimal" data-name="电话" cb-node="phone" type="text" maxlength="18" placeholder="请输入电话" pattern="decimal" name="电话"> </div>
            </div>
            <div class="form-inline j-super">
                <div class="form-group field">
                    <label><span class="ui-form-required">*</span>手机：</label>
                    <input class="form-control" required="required" data-name="手机" cb-node="telephone" type="text" maxlength="18" placeholder="请输入手机" pattern="decimal" name="手机"> </div>
            </div>
            <div class="item form-group">
                <label class="ui-label ui-label-lg tr" style="width: 100px">* 商品类型：</label>
                <label for="goodsType-1" class="ml5 mr5">
                    跨境商品
                </label>
                <input type="radio" class="flat" name="radio-goods" id="goodsType-1" value="" checked="checked"/>
                <label for="goodsType-2" class="ml5 mr5">
                    国内商品
                </label>
                <input type="radio" class="flat" name="radio-goods" id="goodsType-2" value="" />
            </div>        </div>

        <div class="button-group"> <a href="javascript:;" class="btn btn-success no-radius j-submit btn-save">保存</a> <a href="add-account.html" class="btn btn-default">取消</a> </div>
    </div>

    <!-- /page content -->

    @@include('common/footer.html')

</div>
</body>

<!-- rev-hash -->
<!-- inject:js -->
<!-- endinject -->
<!-- end -->


<!-- rev-hash -->
<script src="../src/fn/add-account.js"></script>
<!-- end -->
</html>