<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>添加账户</title>
    <!-- rev-hash -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- end -->

    <!-- rev-hash -->
    <link href="../style/css/channel.css" rel="stylesheet" type="text/css">
    <!-- end -->
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        @@include('common/sidebar.html')
        @@include('common/header.html')
    </div>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="common-part p20 mt-25">
                <div class="form-inline j-no-super" style="">
                    <div class="form-group field" >
                        <label>渠道商ID:</label>
                        <input class="form-control form-control-lg" required="required" data-name="渠道商ID" cb-node="name" type="text" maxlength="18" placeholder="请输入渠道商ID"  pattern="decimal" name="ID">
                    </div>
                </div>
                <div class="form-inline j-super">
                    <div class="form-group field" >
                        <label>渠道商名称:</label>
                        <input class="form-control form-control-lg" required="required" data-name="渠道商名称" cb-node="user_name" type="text" maxlength="18" placeholder="请输入渠道商名称" pattern="decimal" name="名称"> </div>
                </div>
                <div class="form-inline j-super">
                    <div class="form-group field">
                        <label>公司名称:</label>
                        <input class="form-control form-control-lg" required="required" pattern="decimal" data-name="公司名称" cb-node="company" type="text" maxlength="20" placeholder="请输入公司名称" pattern="decimal" name="公司名称"> </div>
                </div>
                <div class="form-inline j-super">
                    <div class="form-group field">
                        <label>联系人:</label>
                        <input class="form-control form-control-lg" required="required" pattern="decimal" data-name="联系人" cb-node="people" type="text" maxlength="18" placeholder="请输入联系人" pattern="decimal" name="联系人" > </div>
                </div>
                <div class="form-inline j-super">
                    <div class="form-group field">
                        <label>联系人电话:</label>
                        <input class="form-control form-control-lg" required="required" pattern="decimal" data-name="联系人电话" cb-node="phone" type="text" maxlength="18" placeholder="请输入联系人电话" pattern="decimal" name="联系人电话"> </div>
                </div>
                <div class="form-inline j-super">
                    <div class="form-group field">
                        <label>详细地址:</label>
                        <input class="form-control form-control-lg" required="required" pattern="decimal" data-name="详细地址" cb-node="address" type="text" maxlength="18" placeholder="请输入电话" pattern="decimal" name="电话"> </div>
                </div>
                <div class="form-inline j-super">
                    <div class="form-group field">
                        <label>备注:</label>
                        <input class="form-control form-control-lg" required="required" data-name="备注" cb-node="note" type="text" maxlength="18" placeholder="请输入备注" pattern="decimal" name="备注"> </div>
                </div>
                <div class="form-inline j-super">
                    <div class="form-group field">
                        <label>联系地址:</label>
                        <select class="form-control form-control-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <select class="form-control form-control-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <select class="form-control form-control-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <select class="form-control form-control-select">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>
                <div class="form-inline j-super">
                    <div class="form-group field">
                        <label>商城中文名:</label>
                        <input class="form-control form-control-lg" required="required" data-name="中文名" cb-node="Chinses" type="text" maxlength="18" placeholder="请输入商城中文名" pattern="decimal" name="中文名"> </div>
                </div>
                <div class="form-inline j-super">
                    <div class="form-group field">
                        <label>商城英文名:</label>
                        <input class="form-control form-control-lg" required="required" data-name="英文名" cb-node="English" type="text" maxlength="18" placeholder="请输入商城英文名" pattern="decimal" name="英文名"> </div>
                </div>
                <div class="form-inline j-super">
                    <div class="form-group field">
                        <label>商城账号:</label>
                        <input class="form-control form-control-lg" required="required" data-name="账号" cb-node="account" type="text" maxlength="18" placeholder="请输入商城账号" pattern="decimal" name="账号"> </div>
                </div>
                <div class="form-inline j-super">
                    <div class="form-group field">
                        <label>初始密码:</label>
                        <input class="form-control form-control-lg" required="required" data-name="密码" cb-node="password" type="password" maxlength="18" placeholder="请输入商城密码" pattern="decimal" name="密码"> </div>
                </div>
            </div>
        </div>
        <div class="button-group"> <a href="javascript:;" class="btn btn-success no-radius j-submit btn-save">保存</a> <a href="channel-management.html" class="btn btn-default">取消</a> </div>
    </div>

    <!-- /page content -->

    @@include('common/footer.html')

</div>
</body>

<!-- rev-hash -->
<!-- inject:js -->
<!-- endinject -->
<!-- end -->


<!-- rev-hash -->
<script src="../src/fn/add-channel.js"></script>
<!-- end -->
</html>