<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- rev-hash -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- end -->
    <!-- rev-hash -->
    <link href="../style/css/freight-template.css" rel="stylesheet" type="text/css">
    <!-- end -->
</head>
<body class="nav-md">
<div class="container body" style="position: relative">
    <div class="main_container">
        @@include('common/sidebar.html')
        @@include('common/header.html')
    </div>
    <!-- page content -->

    <!-- 内容部分 -->
    <div class="right_col" role="main">
        <div class="content">
            <div class="x_panel">
                <div class="x_content">
                    <p class="title">新建运费模板</p>
                </div>
            </div>
            <div class="tpl-content">
                <!-- 运费模板内容开始 -->
                <div class="x_panel">
                    <div class="form-inline tpl-name mb-15">
                        <div class="form-group field" >
                            <label>模板名称：</label>
                            <input type="text" class="form-control name form-control-lg" required="required" name="模板名称" placeholder="请输入模板名称"> </div>
                    </div>
                    <div class="form-inline mb-15 pricing_method" style="margin-top: 15px;margin-bottom: 15px;">
                        <div class="form-group">
                            <label>计价方式：</label>
                        </div>
                        <div class="form-group mr-15">
                            <input type="radio" name="radio" value="0" class="flat">
                            <label>按件数</label>
                        </div>
                        <div class="form-group mr-15">
                            <input type="radio" name="radio" value="1" class="flat" checked="checked">
                            <label>按重量</label>
                        </div>
                        <div class="form-group mr-15">
                            <input type="radio" name="radio" value="2" class="flat">
                            <label>按体积</label>
                        </div>
                    </div>
                    <div class="form-inline">
                        <div class="form-group">
                            <label>配送区域：</label> <span>除指定地区外，其余地区的运费采用”默认运费“</span> </div>
                    </div>
                    <div class="tpl-set mb-15 ">
                        <div class="form-inline">
                            <div class="form-group default-shipping field">
                                <label>默认运费：</label>
                                <input class="form-control basic_count" type="text" required="required" name="数据"> <span class="unit">kg</span><span>内，</span>
                                <input class="form-control basic_charge" type="text" required="required" name="数据"> <span>元，每增加</span>
                                <input class="form-control  extra_count" type="text" required="required" name="数据"> <span class="unit">kg</span><span>，增加运费</span>
                                <input class="form-control extra_charge" type="text" required="required" name="数据"> <span>元</span> </div>
                        </div>
                        <table class="ui-table ">
                            <thead>
                            <tr>
                                <th class="border-r">运送到</th>
                                <th class="border-r">首<span class="unit-che">重</span>（<span class="unit">kg</span>）</th>
                                <th class="border-r">首费（元）</th>
                                <th class="border-r">续<span class="unit-che">重</span>（<span class="unit">kg</span>）</th>
                                <th class="border-r">续费（元）</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody class="J_tpl_list">
                            </tbody>
                        </table>
                        <div class="the-batch">
                            <input type="checkbox" class="checkAll"> <span>全选</span> <a class="batch-setting">批量设置</a> <a class="batch-del">批量删除</a> </div>
                        <div> <a class="J_addTpl">为指定地区城市设置运费</a> <a class="batch-ope">批量操作</a> </div>
                    </div>
                </div>
                <!-- 运费模板内容结束 -->
            </div>
            <div class="modal-dialog modal-lg" id="main-tpl">
                <div class="modal-content1">
                    <div class="modal-body" id="modal">
                    </div>
                </div>
            </div>

            <div class="modal-dialog modal-lg batchSetup" id="xy_1">
                <div class="modal-body">
                    <div class="form-inline">
                        <div class="form-group batch-input field">
                            <label>默认运费：</label>
                            <input class="form-control form-control-sm basic_counts" type="text">
                            <span class="unit">kg</span><span>内，</span>
                            <input class="form-control form-control-sm basic_charges" type="text">
                            <span>元，每增加</span>
                            <input class="form-control form-control-sm extra_counts" type="text">
                            <span class="unit">kg</span><span>，增加运费</span>
                            <input class="form-control form-control-sm extra_charges" type="text">
                            <span>元</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->

        </div>
            <div class="ui-box button-wrapper">
                <div class="button-group"> <a class="btn btn-success J_submit">确定</a> <a class="btn btn-default" href="freight-template.html">返回</a> </div>
            </div>
        </div>
    </div>
    <!--<div class="modal-backdrop fade in" style="display: none"></div>-->
    <!-- page content -->
    @@include('common/footer.html')

</div>
</body>

<!-- rev-hash -->
<!-- inject:js -->
<!-- endinject -->
<!-- end -->


<!-- rev-hash -->
<script src="../src/fn/freight-template-new.js"></script>

<!-- 管控平台地区城市设置运费 -->
<script type="text/template" id="tpl">
    <% _.each(items,function(item){ %>
    <tr class="gradeX odd field">
        <td class="border-r areas">
            <div class="left">
                <input type="checkbox" class="checkItem">
                <em>
                    <% _.each(item.areas,function(area){ %>
                    <% if (area.level == 1) { %>
                    <div><span class="province" data-level="<%= area.level%>" data-id="<%= area.code%>" data-main="<%= area.name%>"><%= area.name%></span>、</div>
                    <% } else { %>
                    <div><span class="city" data-level="<%= area.level%>" data-id="<%= area.code%>" data-main="<%= area.name%>"><%= area.name%></span>、</div>
                    <% } %>
                    <% }) %>
                </em>
            </div>
            <div class="right">
                <a class="city-choose no-current-target" href="javascript:;">编辑</a>
            </div>
        </td>
        <td class="border-r">
            <% if( status == 0 ){ %>
            <input type="text" class="form-control basic_count" value="<%= item.basic_count %>" required="required" name="数据">
            <% }else if( status ==-1 ){ %>
            <input type="text" class="form-control basic_count" required="required" name="数据">
            <% }else{ %>
            <input type="text" class="form-control basic_count" value="<%= (item.basic_count)/10 %>" required="required" name="数据">
            <% } %>
        </td>
        <td class="border-r">
            <% if( status == -1 ){ %>
            <input type="text" class="form-control basic_charge" required="required" name="数据">
            <% }else{ %>
            <input type="text" class="form-control basic_charge" value="<%= (item.basic_charge)/100 %>" required="required" name="数据">
            <% } %>
        </td>
        <td class="border-r">
            <% if( status == 0 ){ %>
            <input type="text" class="form-control extra_count" value="<%= (item.extra_count) %>" required="required" name="数据">
            <% }else if( status ==-1 ){ %>
            <input type="text" class="form-control extra_count" >
            <% }else{ %>
            <input type="text" class="form-control extra_count" value="<%= (item.extra_count)/10 %>" required="required" name="数据">
            <% } %>
        </td>
        <td class="border-r">
            <% if( status == -1 ){ %>
            <input type="text" class="form-control extra_charge" required="required" name="数据">
            <% }else{ %>
            <input type="text" class="form-control extra_charge" value="<%= (item.extra_charge)/100 %>" required="required" name="数据">
            <% } %>
        </td>
        <td><a class="J_del">删除</a></td>
    </tr>
    <% }); %>
</script>

<!--城市选择-->
<script type="text/template" id="tpl1">
    <% _.each(data, function (item) { %>
    <div class="choose-area">
        <div class="area-name left">
            <!--<input type="checkbox" name="checkbox" class="check-areas-all flat">-->
            <input type="checkbox" name="checkbox" class="check-areas-all" data-main="<%= item.area_name %>">
            <span data-area="<%= item.area_name %>"><%= item.area_name %></span>
        </div>
        <div class="right">
            <% _.each(item.provinces, function (n) { %>
            <div class="area-item" data-name="<%=n.province_name %>" data-id="<%=n.province_id %>">
                <!--<input type="checkbox" name="checkbox" class="check-city-all flat">-->
                <input type="checkbox" name="checkbox" class="check-city-all" data-main="<%= n.province_name %>">
                <span class="cityMain" data-name="<%=n.province_name %>"><%=n.province_name %></span>
                <div class="cities">
                 <% _.each(n.cities, function (m) { %>
                      <div class="city">
                           <!--<input type="checkbox" name="checkbox" class="check-city flat">-->
                           <input type="checkbox" name="checkbox" class="check-city " data-main="<%= m.city_name %>">
                           <span data-name="<%=m.city_name %>" data-id="<%= m.city_id %>">
                           <%=m.city_name %>
                           </span>
                      </div>
                    <% }); %>
                    <button type="button" class="J_close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
    <% }); %>
</script>
<script type="text/template">
</script>
<!-- end -->
</html>




