<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <!-- rev-hash -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- end -->

    <!-- rev-hash -->
    <link href="../style/css/goods_management.css" rel="stylesheet" type="text/css">
    <!-- end -->
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        @@include('common/sidebar.html')
        @@include('common/header.html')

        <!-- page content -->
        <div class="right_col" role="main">

            <!-- 内容部分 -->
            <div class="x_panel">
                <div class="x_title">
                    <div class="add-goods-step clearfix">
                        <span class="add-goods-active col-md-4">选择商品分类</span>
                        <span class="col-md-4">编辑商品信息</span>
                        <span class="col-md-4">选择发货仓库</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="categories">
                        <div class="add-goods-categories mr10"></div>
                        <div class="add-goods-categories"></div>
                    </div>

                    <div class="add-goods-footer clearfix">
                        <div class="col-md-4">
                            <span>您最近使用的类目：</span>
                            <select class="form-control form-control-md dib">
                                <option>美食 > 火龙果</option>
                            </select>
                        </div>
                        <div class="col-md-4"></div>
                        <div class="col-md-4 tr">
                            <span>当前选择：</span>
                            <span class="mr10">美食 > 火龙果</span>
                            <a href="javascript:;" class="btn btn-success btn-sm" disabled="disabled">
                                请选择类目
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 内容部分 -->

        </div>
        <!-- /page content -->

        @@include('common/footer.html')

    </div>
</div>

<!-- rev-hash -->
<!-- inject:js -->
<!-- endinject -->
<!-- end -->

<!-- rev-hash -->
<script src="../src/fn/goods.js"></script>
<!-- end -->

</body>
</html>
