<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>添加账户</title>
    <!-- rev-hash -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- end -->

    <!-- rev-hash -->
    <link href="../style/css/goods_management.css" rel="stylesheet" type="text/css">
    <!-- end -->
</head>
<body class="nav-md">
<div class="container body" style="position: relative">
    <div class="main_container">
        @@include('common/sidebar.html')
        @@include('common/header.html')
    </div>
    <!-- page content -->
    <div class="right_col" role="main">
        <div class="x_panel">
            <div class="x_title">
                <h2><small>税率模板列表</small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li class="fr">
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content editorContent">
                <div class="common-part p20 mt-25">
                    <div class="form-inline mb10">
                        <div class="form-group field item">
                            <label class="ui-label ui-label-lg tr"><span class="ui-form-required">*</span>模板名称：</label>
                            <input class="form-control form-control-lg" required="required" data-name="姓名" cb-node="name" type="text" maxlength="18" placeholder="请输入模板名称" name="名称">
                        </div>
                    </div>
                    <div class="form-inline mb10">
                        <div class="form-group field item">
                            <label class="ui-label ui-label-lg tr"><span class="ui-form-required">*</span>起征点（元）：</label>
                            <input class="form-control form-control-lg"type="text" disabled="disabled" value="￥0.00"> </div>
                    </div>
                    <div class="form-inline mb10">
                        <div class="form-group field item">
                            <label class="ui-label ui-label-lg tr"><span class="ui-form-required">*</span>税率（%）：</label>
                            <input class="form-control form-control-lg" required="required" pattern="decimal" data-name="税率" cb-node="taxRate" type="text" maxlength="18" placeholder="请输入税率" name="税率" > </div>
                    </div>
                    <div class="form-inline mb10">
                        <div class="form-group field item">
                            <label class="ui-label ui-label-lg tr"><span class="ui-form-required">*</span>HS编码：</label>
                            <input class="form-control form-control-lg" required="required" pattern="decimal" data-name="编码" cb-node="post" type="text" maxlength="18" placeholder="请输入编码" name="编码"> </div>
                    </div>
                    <div class="form-inline mb10">
                        <div class="form-group field item">
                            <label class="ui-label ui-label-lg tr"><span class="ui-form-required">*</span>行邮税号：</label>
                            <input class="form-control form-control-lg" required="required" pattern="decimal" data-name="税号" cb-node="tax" type="text" maxlength="18" placeholder="请输入税号"  name="税号"> </div>
                    </div>
                </div>
                <div class="footer-btn-group">
                    <a class="btn btn-success btn-sm mr10 j-submit">保存</a>
                    <a class="btn btn-default btn-sm ml10 j-cancel">取消</a>
                </div>
            </div>
        </div>
    </div>

    <!-- /page content -->

    @@include('common/footer.html')

</div>
</body>

<!-- rev-hash -->
<!-- inject:js -->
<!-- endinject -->
<!-- end -->


<!-- rev-hash -->
<script src="../src/fn/goods-tax-template-add.js"></script>
<!-- end -->
</html>