<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <!-- rev-hash -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- end -->

    <!-- rev-hash -->
    <link href="../style/css/order.css" rel="stylesheet" type="text/css">
    <!-- end -->
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        @@include('common/sidebar.html')
        @@include('common/header.html')

        <!-- page content -->
        <div class="right_col" role="main">

            <!--搜索框 -->
            <div class="x_panel">
                <div class="x_title">
                    <h2><small>搜索框</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="fr">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="form-inline">
                        <div class="form-group mb10">
                            <label class="ui-label ui-label-md tr">订单号：</label>
                            <input class="form-control form-control-lg" id="order_sn">
                        </div>
                        <div class="form-group mb10">
                            <label class="ui-label ui-label-md tr pt5">下单时间：</label>
                            <div id="timepicker" class="pull-right timepicker">
                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                            <span class="fz12">请选择相应的时间</span> <b class="caret"></b>
                            </div>
                        </div>
                    <br/>
                        <div class="form-group mb10">
                            <label class="ui-label ui-label-md tr">收货人姓名：</label>
                            <input class="form-control form-control-lg" id="consignee">
                        </div>
                        <div class="form-group mb10">
                            <label class="ui-label ui-label-md tr">订单状态：</label>
                            <select id="order_status" class="form-control form-control-lg">
                                <option value="0">请选择订单状态</option>
                                <option value="10">待支付</option>
                                <option value="20">买家已取消</option>
                                <option value="21">卖家已取消</option>
                                <option value="30">已支付</option>
                                <option value="40">已发货</option>
                                <option value="50">已签收</option>
                                <option value="60">已评价</option>
                                <option value="70">退款中</option>
                                <option value="80">退款完成</option>
                                <option value="90">订单关闭</option>
                            </select>
                        </div>
                        <div class="form-group mb10">
                            <label class="ui-label ui-label-md tr">所属仓库：</label>
                            <select id="heard" class="form-control form-control-lg" required>
                                <option value="">请选择订单状态</option>
                                <option value="press">待付款</option>
                                <option value="net">待发货</option>
                                <option value="mouth">已发货</option>
                                <option value="mouth">已完成</option>
                                <option value="mouth">已关闭</option>
                                <option value="mouth">维权中</option>
                            </select>
                        </div>

                    <br/>
                        <div class="form-group mb10">
                            <label class="ui-label ui-label-md tr">收货人手机：</label>
                            <input class="form-control form-control-lg" id="consignee_mobile">
                        </div>
                        <div class="form-group mb10">
                            <label class="ui-label ui-label-md tr">付款方式：</label>
                            <select id="payment_id" class="form-control form-control-lg" required>
                                <option value="0">请选择付款方式</option>
                                <option value="1">支付宝APP支付</option>
                                <option value="2">微信支付APP支付</option>
                                <option value="3">银联支付APP支付</option>
                                <option value="4">支付宝wap支付</option>
                                <option value="5">微信wap支付</option>
                                <option value="6">银联wap支付</option>
                                <option value="7">统统付APP</option>
                                <option value="8">统统wap</option>
                                <option value="9">余额支付</option>
                            </select>
                        </div>
                    <br/>
                        <div class="form-group mb10">
                            <label class="ui-label ui-label-md tr">渠道商：</label>
                            <select id="heard2" class="form-control form-control-lg" required>
                                <option value="">请选择渠道商</option>
                                <option value="press">支付宝</option>
                                <option value="net">微信</option>
                                <option value="mouth">银联</option>
                            </select>
                        </div>
                        <div class="form-group mb10">
                            <label class="ui-label ui-label-md tr">维权状态：</label>
                            <select id="heard2" class="form-control form-control-lg" required>
                                <option value="">请选择维权状态</option>
                                <option value="press">支付宝</option>
                                <option value="net">微信</option>
                                <option value="mouth">银联</option>
                            </select>
                        </div>
                        <!--<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">-->
                        <!--<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>-->
                        <!--<span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>-->
                        <!--</div>-->
                        <button type="button" class="btn btn-sm btn-success ml10 mb10" id="j-search">搜索</button>
                    </div>
                </div>
            </div>
            <!--搜索框 -->

            <!--内容部分 -->
            <div class="x_panel">
                <div class="x_title">
                    <h2><small>表格</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li class="fr">
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="clearfix" role="tabpanel">
                        <ul id="goodsTab" class="nav nav-tabs bar_tabs right" role="tablist">
                            <li role="presentation" class="" data-type="1">
                                <a href="#" role="tab" data-toggle="tab" aria-controls="加星" aria-expanded="true">加星</a>
                            </li>
                            <li role="presentation" class="active">
                                <a href="#" role="tab" data-toggle="tab" aria-controls="全部" aria-expanded="false">全部</a>
                            </li>
                        </ul>
                    </div>
                    <!--<div>-->
                        <!--<div class="form-group">-->
                            <!--<a class="btn btn-sm btn-success" href="goods.html">添加商品</a>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action table-bordered">
                            <thead>
                                <tr>
                                    <th class="tc cell-40">商品</th>
                                    <th class="tc cell-10">单价</th>
                                    <th class="tc cell-10">数量</th>
                                    <th class="tc cell-10">买家</th>
                                    <th class="tc cell-10">支付方式</th>
                                    <th class="tc cell-10">实付款</th>
                                    <th class="tc cell-10">状态</th>
                                </tr>
                            </thead>
                        </table>
                        <div id="orderList"></div>
                    </div>

                    <!-- 页码 -->
                    <div class="widget-list clearfix ">
                        <div class="fl pagination">
                        </div>
                        <div class="list-page fr">
                            <span class="pagination-info"></span>
                            <div class="ui-pagination pagination"></div>
                        </div>
                    </div>
                    <!-- /页码 -->

                </div>
            </div>
            <!--内容部分 -->

        </div>
        <!-- /page content -->

        @@include('common/footer.html')

    </div>
</div>

<!-- rev-hash -->
<!-- inject:js -->
<!-- endinject -->
<!-- end -->

<!-- rev-hash -->
<script src="../src/fn/order.js"></script>
<!-- end -->

<!-- 订单列表 -->
<script type="text/template" id="j-template-order">
    <% _.each(items,function(item,index){ %>
        <table class="table table-bordered">
            <thead class="order-header">
                <tr>
                    <th colspan="1">
                        <% if( item.asterisk_mark == 1 ){ %>
                        <span>
                            <i class="fa fa-star j-star" data-asterisk_mark="<%= item.asterisk_mark %>" data-id="<%= item.id %>" data-user_id="<%= item.user_id %>"></i>
                        </span>
                        <% }else{ %>
                        <span>
                            <i class="fa fa-star-o j-star" data-asterisk_mark="<%= item.asterisk_mark %>" data-id="<%= item.id %>" data-user_id="<%= item.user_id %>"></i>
                        </span>
                        <% } %>
                        <span>订单号：</span>
                        <a href="order-detail.html?order_id=<%= item.id %>&user_id=<%= item.user_id %>" target="_blank"><%= item.order_sn %></a>
                    </th>
                    <th colspan="2"><span>下单时间：<%= item.order_time_str %></span></th>
                    <th colspan="2"><span>发货仓库：<%= item.order_time_str %></span></th>
                    <th colspan="2"><span>渠道商：<%= item.order_time_str %></span></th>
                </tr>
            </thead>
            <tbody>
                <% _.each(item.order_items,function(o,i){ %>
                    <% if( o.item_type != 11 ){ %>
                        <tr>
                            <td class="cell-40">
                                <dl>
                                    <dt><img style="width:60px;height: 60px;" src="<%= o.item_image_url %>"></dt>
                                    <dd>
                                        <p><%= o.item_name %></p>
                                        <p class="sku"><%= o.item_sku_desc %></p>
                                    </dd>
                                </dl>
                            </td>
                            <td class="cell-10"><span><%= o.unit_price_str %></span></td>
                            <td class="cell-10 tc"><span><%= o.number %></span></td>
                            <% if( i == 0 ){ %>
                            <td class="cell-10 tc" rowspan="<%= item.order_items.length %>"><span><%= item.order_consignee_d_t_o.mobile %></span></td>
                            <td class="cell-10 tc" rowspan="<%= item.order_items.length %>"><span><%= ['优惠折扣','支付宝APP支付','微信APP支付','银联APP支付','支付宝wap支付','微信wap支付','银联wap支付','统统付APP支付','统统付wap支付','余额支付'][item.payment_id] %></span></td>
                            <td class="cell-10 tc" rowspan="<%= item.order_items.length %>">
                                <p><%= item.total_amount_str %></p>
                                <% if( item.delivery_fee ){ %>
                                <p>(含运费 <%= (item.delivery_fee/100).toFixed(2) %>)元</p>
                                <% } %>
                            </td>
                            <td class="cell-10 tc" rowspan="<%= item.order_items.length %>">
                                <p><%= orderStatus[item.order_status] %></p>
                                <% if( item.order_status == 30 ){ %>
                                <p>
                                    <a class="j-send-goods btn btn-sm btn-success" data-order_id="<%= item.id %>" data-user_id="<%= item.user_id %>" data-refund_mark="<%= item.refund_mark %>" data-orderinfo="<%= encodeURIComponent(JSON.stringify(item)) %>">发货</a>
                                </p>
                                <% } %>
                            </td>
                            <% } %>
                        </tr>
                    <% } %>
                <% }) %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="18">
                        <% if( item.seller_memo ){ %>
                        <a class="j-add-comment" data-id="<%= item.id %>" data-user_id="<%= item.user_id %>" data-memo="<%= item.seller_memo %>" href="javascript:;">卖家备注（修改）：</a>
                        <span><%= item.seller_memo %></span>
                        <% }else{ %>
                        <a class="j-add-comment" data-id="<%= item.id %>" data-user_id="<%= item.user_id %>" href="javascript:;">添加备注</a>
                        <% } %>
                    </td>
                </tr>
            </tfoot>
        </table>
    <% }) %>
</script>

<!-- 发货 -->
<script type="text/template" id="j-template-send-goods">
    <table class="table table-bordered">
        <thead class="order-header">
        <tr>
            <th class="tc cell-10"> <input type="checkbox" id="check-all" class="flat"></th>
            <th class="tc cell-50"><span>商品</span></th>
            <th class="tc cell-10"><span>数量</span></th>
            <th class="tc cell-10"><span>物流公司</span></th>
            <th class="tc cell-20"><span>快递单号</span></th>
        </tr>
        </thead>
        <tbody>
        <% _.each(item.order_items,function(o,i){ %>
            <% if( o.item_type != 11 ){ %>
            <tr>
                <td class="tc">
                    <% if( o.delivery_mark != 1 ){ %>
                    <input type="checkbox" class="checkbox flat" data-mark="<%= o.delivery_mark || 0 %>" data-id="<%= o.id %>">
                    <% }else{ %>
                    <span>已发货</span>
                    <% } %>
                </td>
                <td>
                    <dl>
                        <dt><img style="width:60px;height: 60px;" src="<%= o.item_image_url %>"></dt>
                        <dd>
                            <p><%= o.item_name %></p>
                            <p class="sku"><%= o.item_sku_desc %></p>
                        </dd>
                    </dl>
                </td>
                <td class="tc"><span><%= o.number %></span></td>
                <td class="tc"><span>-</span></td>
                <td class="tc"><span>-</span></td>
            </tr>
            <% } %>
        <% }) %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">
                    <div class="form-group">
                        <label class="ui-label ui-label-md">收货地址：</label>
                        <span><%= item.order_consignee_d_t_o.province %><%= item.order_consignee_d_t_o.city %><%= item.order_consignee_d_t_o.area %><%= item.order_consignee_d_t_o.address %></span>
                    </div>
                    <div class="form-group">
                        <label class="ui-label ui-label-md">发货方式：</label>
                        <label><input type="radio" name="logistics" class="flat" checked="checked" data-value="1">&nbsp;需要物流</label>
                        <label><input type="radio" name="logistics" class="flat" data-value="0">&nbsp;无需物流</label>
                    </div>
                    <div class="form-group logistics-info">
                        <label class="ui-label ui-label-md">物流公司：</label>
                        <select class="form-control form-control-lg" id="logisticsList">
                            <option value="">请选择物流公司</option>
                        </select>
                    </div>
                    <div class="form-group logistics-info">
                        <label class="ui-label ui-label-md">物流单号：</label>
                        <input class="form-control form-control-lg" id="logisticCode">
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</script>

<!-- 物流公司 -->
<script type="text/template" id="j-template-logistics">
    <option>请选择物流公司</option>
    <% _.each(items,function(item,index){ %>
        <option value="<%= item.code %>"><%= item.name %></option>
    <% }) %>
</script>
</body>
</html>
